<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home</h1>
    <h3><a href="/api/get-users">get users</a></h3>
    <h3><a href="/api/get-users-info">get users info</a></h3>
    <h3><a href="/api/get-users-phis">get users phis</a></h3>
    <h3><a href="/api/add-user">add user</a></h3>
    <h3><a href="/api/delete-user">delete user</a></h3>

    <script>
        fetch("https://shauru.pythonanywhere.com/api/get-users", { method: "GET" })
            .then(res => res.json())
            .then(res => console.log(res));

    </script>
</body>

</html>